body {
	background: #989898;
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.15) 0%,
		rgba(0, 0, 0, 0.15) 100%),
		-webkit-radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%,
		rgba(0, 0, 0, 0.4) 120%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%,
		rgba(0, 0, 0, 0.15) 100%),
		radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%,
		rgba(0, 0, 0, 0.4) 120%);
	background-blend-mode: multiply, multiply;
	width: 1024px;
	padding-bottom: 0px;
	padding-top: 10px;
	margin: 0 auto;
}

.navbar {
	margin-bottom: 0;
}

.edit {
	margin-bottom: 20px;
	font-weight: 600;
	font-family: Verdana;
	text-align: center;
}

.form {
	border-radius: 10px;
	padding: 30px 40px 60px 40px;
	background: rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	margin-bottom: 30px;
}

.table-striped {
	margin-top: 20px;
}

.nav a {
	color: #333;
}

.btn-below {
	margin-top: 27px;
}

.input-below {
	margin-top: 15px;
}

.product {
	margin-top: 10px;
	display: inline-block;
	cursor: default;
	width: 25%;
	height: 250px;
	background-color: #fff;
	border-radius: 10px;
	display: inline-block;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

a:hover {
	cursor: pointer;
	text-decoration: none;
}

.price {
	margin: 0 10%;
	border-radius: 10px;
	background-color: #47c266;
	font-size: 20px;
	font-weight: bold;
}

.photo {
	margin-top: 10%;
	width: 80%;
}

@media ( min-width : 1000px) {
	.navbar .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
	}
	.navbar .navbar-collapse {
		text-align: center;
	}
}

@media ( max-width :1000px) {
	.nav>li {
		float: none;
		position: relative;
		display: block;
	}
	.navbar-collapse.collapse {
		display: none !important;
	}
	.navbar-collapse {
		overflow-x: visible !important;
	}
	.navbar-collapse.in {
		overflow-y: auto !important;
	}
	.collapse.in {
		display: block !important;
	}
	.navbar-toggle {
		display: block;
	}
}